/*need to resize launchcode image*/
/*need to link font onto css and html sheet*/
/*trying to have image as background, need to resize*/
@font-face {
	font-family: 'Mukta';
	font-style: normal;
	font-weight: 400;
	src: local('Mukta Regular'), local('Mukta-Regular'), 
	url(https://fonts.gstatic.com/s/mukta/v5/iJWKBXyXfDDVXbnBrXw.woff2) format('woff2');
	unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, 
	U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
	font-family: 'Mukta';
	font-style: normal;
	font-weight: 700;
	src: local('Mukta Bold'), local('Mukta-Bold'), 
	url(https://fonts.gstatic.com/s/mukta/v5/iJWHBXyXfDDVXbF6iGmd8WA.woff2) format('woff2');
	unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, 
	U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }

@font-face {
	font-family: 'Mukta';
	font-style: normal;
	font-weight: 800;
	src: local('Mukta ExtraBold'), local('Mukta-ExtraBold'), 
	url(https://fonts.gstatic.com/s/mukta/v5/iJWHBXyXfDDVXbFmi2md8WA.woff2) format('woff2');
	unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, 
	U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }

.grid{
	display: grid;
	width: 1000px;
	height: 600px;
	grid-template: 2fr 2fr 2fr / 2fr 2fr 2fr;
	grid-gap: 20px 20px; 
}
header {
	background-color: lightgray;
	/*border-bottom: 1px solid lightgrey;*/
	border: 1px solid black;
	position: fixed;
	z-index: 2;
	width: 100%;
  }

p,
h2,
h3,
h4,
li,
.expertise {	
	position: relative;
	display: block;
	top: 80px;
	left: 100px;
	font-family: 'Mukta';
}

h2,
h3,
h4 
.expertise {
	background-color: lightgray;
	/*border-bottom: 1px solid lightgrey;*/
	font-weight: 700;
	border: 1px solid black;
	max-width: 600px;
}
#special-name-display {
	font-family: 'Mukta';
	text-align: left;
	font-weight:bold;
	text-transform: uppercase;
	/*background-color: purple;*/
	/*background-image: url("images/AbstractCoding.jpp");
	max-height: 876px;
	max-width: 1866px;
	object-fit: cover;*/
}


p {
	position: relative;
	display: block;
	top: 80px;
	left: 100px;
	min-width: 200px;
	max-width: 600px;
	min-height: 50px;
	max-height: 800px;
	font-size: medium;
}


/*selects list items*/
.list li{


}

.launch-code {
	position: relative;
	display: block;
	top: 80px;
	left: 100px;
}